/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: #000;
}

/* users section */
#users {
  padding: 25px 0;
}

#users .avatar {
  border: 3px solid #000;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#users .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#users .info {
  border: 3px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  min-width: 300px;
  padding: 15px;
}

#users .info h2 {
  font-size: 32px;
  cursor: pointer;
}

#users .info span {
  position: relative;
  top: 10px;
}

/* user show view */
#bio {
  border: 3px solid #000;
  padding: 5px 5px 15px 5px;
}

#bio h4 {
  margin-bottom: 14px;
}

.post {
  border: 3px solid #000;
  margin-top: 18px;
  padding: 5px 5px 15px 5px;
}

#recent-posts .btn {
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000;
  padding: 2px 5px;
  cursor: pointer;
}

/* comments */
.comments {
  border: 3px solid #000;
  padding: 5px 5px 15px 5px;
  margin-top: 1px;
}

.comment {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.comment h4 {
  margin: 0;
}

.comment span {
  margin-left: 4px;
}

/* post */
#post .post header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
